<div class="tabs">

    <a routerLink="bookmarks" routerLinkActive="selected" class="bookmarks-tab tab">
        <div class="tab-tile">
            <span class="material-icons-outlined">bookmarks</span>
        </div>
    </a>
    <a routerLink="todos" routerLinkActive="selected" class="todos-tab tab">
        <div class="tab-tile">
            <span class="material-icons-outlined">check</span>
        </div>
    </a>
    <a routerLink="notes" routerLinkActive="selected" class="notes-tab tab">
        <div class="tab-tile">
            <span class="material-icons-outlined">notes</span>
        </div>
    </a>
    
</div>
